@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #00ffaa;
	--slate: #161616;
}

body {
	font-smooth: auto;

	overflow-x: hidden;
	scroll-behavior: smooth;

	scrollbar-width: auto;

	background-color: var(--slate);
}

.shadow-bottom {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.38);
}

.shadow-top {
	box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.38);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 0 solid #fff;
	border-radius: 16px;
	background-color: var(--primary);
}
