@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-smooth: auto;
	scroll-behavior: smooth;
	scrollbar-width: auto;
}

@layer base {
	* {
		@apply transition-colors duration-100 ease-in-out
	}
}